<!DOCTYPE html><!--  Last Published: Wed Apr 13 2022 13:53:44 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="61f07af46c02396cfcb89c53" data-wf-site="61f07af46c02396740b89c56" lang="es">
<head>
  <%- include('metas'); %>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/cerro-verde.css" rel="stylesheet" type="text/css">
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
 
  <%- include('gtag-head'); %>
</head>
<body class="body">
  <%- include('gtag-body'); %>
  <div id="banner" class="div-block-20"></div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container-7 w-container">
      <a href="https://cerroverdeapartamentos.com/" class="brand w-nav-brand"><img src="images/logo-240_1.png" loading="lazy" width="240" height="84" alt="Logo Cerro Verde proyectos de interés social en bello" class="image-6"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="#invertir" class="menu w-nav-link">Razones para invertir</a>
        <a href="#zonacomunes" target="_blank" class="menu w-nav-link">Zonas comunes</a>
        <a href="#banner" class="menu ct w-nav-link">Contáctanos</a>
        <div class="redes-header">
          <a href="https://www.facebook.com/constructoramonserrate" target="_blank" class="w-inline-block"><img src="images/ico-face.svg" loading="lazy" width="35" height="35" alt="facebook" class="imgredes hea"></a>
          <a href="http://instagram.com/constructoramonserrate/" target="_blank" class="w-inline-block"><img src="images/ico-instagram.svg" loading="lazy" width="35" height="35" alt="instagram" class="imgredes hea"></a>
        </div>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-5 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="caja-banner">
    <div class="bannernuevo wf-section">
      <div class="secc-form">
        <div class="div-block-9">
          <div class="div-block-10">
            <p class="paragraph">Cerro Verde - Proyecto en Bello</p>
            <div class="titulobanner">Apartamentos desde</div>
            <div class="titulobanner alt">$221.200.000</div>
          </div>
        </div>
        <div class="w-form">
           <form id="contactForm" name="email-form" data-name="Email Form" method="get" redirect="/agradecimientos" data-redirect="/agradecimientos" class="form">
            <input type="text" class="formulario w-input" maxlength="256" name="nombre" data-name="nombre" placeholder="Nombre completo*" id="nombre" required="">
            <input type="email" class="formulario w-input" maxlength="256" name="email" data-name="email" placeholder="Correo electrónico*" id="email" required="">
            <input type="tel" class="formulario w-input" maxlength="256" name="celular" data-name="celular" pattern="^[0-9-+s()]*$" placeholder="Celular*" id="celular" required="">
            <label class="w-checkbox"><input type="checkbox" id="Acepto los términos y condiciones" name="Acepto-los-t-rminos-y-condiciones" data-name="Acepto los términos y condiciones" required="" checked="" class="w-checkbox-input checkbox"><span for="Acepto-los-t-rminos-y-condiciones" class="checkbox-label w-form-label">Acepto los <a href="#" class="link-2">términos y condiciones</a></span></label><input type="submit" value="Registrarme" data-wait="Registrando ..." class="submit-button w-button">
          </form>
          <div id="form-status" class="form-status"></div>
        </div>
      </div>
      <div id="w-node-_48c6d2cc-fe1e-6274-8033-257253642a40-fcb89c53" class="div-block-27">
        <div class="letr-vis">
          <div class="tituvis">Aplica<br>subsidio</div>
          <div class="vis">VIS</div>
        </div>
      </div>
      <div id="w-node-a53f7d8c-8df8-1081-d71c-6248dc082b4e-fcb89c53" class="banner-caja-tx">
        <div id="w-node-d20fabad-8d07-57d1-caf2-9b43faa21b12-fcb89c53" class="titu-desa">El tercer desarrollo</div>
        <div id="w-node-_6d1fa9e9-4834-de92-ec75-f6ba1e9c1fdf-fcb89c53" class="sub-ban">Los cerros</div>
        <div id="w-node-_134c208b-03e1-1902-0508-c13d0811c332-fcb89c53" class="tex-banner">RESERVA HABITACIONAL</div>
        <div>
          <div class="tit-bann">El tercer desarrollo</div>
          <div class="tit-na-2">Los cerros</div>
          <div class="tit-bann-3">RESERVA HABITACIONAL</div>
        </div>
      </div>
    </div>
    <div class="visitanos"></div>
  </div>
  <div id="invertir" class="porqueinvertir wf-section">
    <div class="botones">
      <h1 class="h1seo">Cerro Verde - Bello, Terranova apartamentos</h1>
      <h2 class="tituloblanco">La tranquilidad de invertir en tus sueños</h2>
    </div>
    <div class="contenedorverde">
      <div class="div-block-5">
        <div class="div-block-6"><img src="images/ico2.png" loading="lazy" width="50" height="50" alt="Proyecto de interés interés Colsubsidio" class="iconosinv">
          <h3 class="tituloinversion">Apartamentos para<br>entrega en 2026</h3><img src="images/linea-verde.png" loading="lazy" width="350" height="7" alt="Cerro Verde proyectos de interés social en bello" class="separador">
          <p class="textoinvierte"><strong>41</strong> meses para la cuota inicial con cuotas mensuales de <span class="text-span-9">$1.569.756*</span></p>
          <p class="texto-ley">* Precio Tope VIS al año de escrituración.</p>
        </div>
        <div class="div-block-7"><img src="images/ico1.png" loading="lazy" width="50" height="50" alt="Vivienda de interés social en Bello" class="iconosinv">
          <h4 class="tituloinversion">Vive en un entorno<br>tranquilo</h4><img src="images/linea-verde.png" loading="lazy" width="350" height="7" alt="Cerro Verde proyectos de interés social en bello" class="separador">
          <p class="textoinvierte">Ubicado en <span class="text-span-12">Bello, </span><span class="text-span-11">Terranova.</span> en una zona residencial cerca al Cerro Quitasol</p>
        </div>
        <div class="div-block-8"><img src="images/ico-3.png" loading="lazy" width="50" height="50" alt="juegos Cerro Verde" class="iconosinv">
          <h5 class="tituloinversion">Un proyecto VIS de una sóla torre</h5><img src="images/linea-verde.png" loading="lazy" width="350" height="7" alt="Cerro Verde proyectos de interés social en bello" class="separador">
          <p class="textoinvierte">Con zonas comunes para todos;<br>‍<br>- Piscina adultos<br>- Piscina niños<br>- Juegos infantiles<br>- Salón social<br>- Portería</p>
        </div>
      </div>
      <div class="caja">
        <a href="#banner" class="btn">Regístrate ahora</a>
      </div>
    </div>
  </div>
  <div id="zonassociales" class="bgamarillo peq wf-section">
    <p class="texto-ley ot">* El mobiliario, electrodomésticos, gasodomésticos, acabados y demás elementos que aparecen en las imágenes o en el apartamento modelo son una representación a fin de ilustrar la utilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedarán finalmente determinadas en los contratos suscritos por las partes.</p>
    <div class="contenedorverde"></div>
  </div>
  <div class="descubre">
    <div class="titu-cond bl">Descubre tu nuevo apartamento en Bello, Terranova</div>
  </div>
  <div class="conoce">
    <p class="paragraph">Cerro Verde - Proyectos VIS en Bello</p>
    <div class="contenedorp">
      <h3 class="tituloblanco">Conoce tu apartamento ideal</h3>
      <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="w-tabs">
        <div class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="menuplanos-2 w-inline-block w-tab-link w--current">
            <div>Torre 3</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="cajaplanos-2">
              <div id="w-node-a1238446-374c-58d6-3a9a-198107a76fb8-fcb89c53" class="cajacl">
                <div class="div-block-26">
                  <div class="cajaarea lin">
                    <p class="infosliderplanos-2">Área construída</p>
                    <p class="titub-2">54 m2</p>
                  </div>
                  <div class="cajaarea">
                    <p class="infosliderplanos-2">Área privada</p>
                    <p class="titub-2">50 m2</p>
                  </div>
                </div>
                <p class="alcobas-2">2 alcobas + Espacio múltiple</p>
                <p class="precio-2">Precio desde: $<strong>221.200.000</strong></p>
                <p class="texto-ley">* Precio Tope VIS al año de escrituración.</p>
                <p class="notaslider-2">* Incluye parqueadero.</p>
                <a href="#banner" class="btn">Cotiza ahora</a>
                <a href="https://newportapartamentos.com/newport.pdf" target="_blank" class="btn-3 brochure">Brochure</a>
              </div><img height="387" src="images/TIPOLOGIA-APTO-2-1.png" loading="lazy" width="649" id="w-node-a1238446-374c-58d6-3a9a-198107a76fd2-fcb89c53" alt="Proyecto de interés interés Colsubsidio" class="image-20"><img height="191" src="images/TIPOLOGIA-APTO-320.png" loading="lazy" width="320" id="w-node-e73660fa-a6ee-9329-435c-54719dec25e0-fcb89c53" alt="Proyecto de interés interés Colsubsidio" class="image-20 imgmov">
            </div>
          </div>
        </div>
      </div>
      <p class="texto-ley-2">* Las imágenes utilizadas son representaciones digitales del diseño y junto con el apartamento modelo pueden variar en la construcción final. El mobiliario, electrodomésticos, gasodomésticos, acabados y demás elementos que aparecen en las imágenes o en el apartamento modelo son una representación a fin de ilustrar la utilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedarán finalmente determinadas en los contratos suscritos por las partes. Precio sujeto a cambios sin previo aviso. Precio tope VIS al año de escrituración.</p>
    </div>
  </div>
  <div id="recorrido" class="div-block-25"><img src="images/icon-maps.png" loading="lazy" width="60" height="60" alt="Proyecto en Bello" class="ico360">
    <h3 class="tituloblanco-2 verd">Disfruta de nuestro recorrido<br>360°</h3>
    <a href="https://www.constructoramonserrate.com/360/apartamento-modelo-cerro-verde/tour360.html" target="_blank" class="btn">Ver recorrido</a>
  </div>
  <div class="term wf-section">
    <div class="div-block-16">
      <p class="paragraph-2">* El mobiliario, electrodomésticos, gasodomésticos, acabados y demás elementos que aparecen en las imágenes o en el apartamento modelo son una representación a fin de ilustrar lautilización de los espacios y pueden diferir de lo entregado o no ser entregado según lo convenido en los contratos. Las áreas privadas y construidas podrán sufrir ajustes y quedaránfinalmente determinadas en los contratos suscritos por las partes.</p>
    </div>
  </div>
  <div id="zonacomunes" class="zonassociales wf-section">
    <div class="div-block-16">
      <p class="parraseo">Cerro Verde - Proyecto de interés Colsubsidio</p>
      <h4 class="tituloblanco bl">La tranquilidad de disfrutar espacios para ti y tu familia</h4>
      <p class="sub-tit">Encontrarás los lugares perfectos para relajarte y pasar un rato agradable con tu familia o amigos.<br></p>
    </div>
    <div class="div-block-16 sl">
      <div data-delay="4000" data-animation="slide" class="slider-3 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="true" data-autoplay-limit="0" data-nav-spacing="2" data-duration="500" data-infinite="true">
        <div class="mask-3 w-slider-mask">
          <div class="slide-1 w-slide">
            <div class="caja-slider-foto"><img height="395" src="images/render-piscina-1200-p-800-1.jpeg" loading="eager" width="800" srcset="images/render-piscina-1200-p-800-1-p-500.jpeg 500w, images/render-piscina-1200-p-800-1.jpeg 800w" sizes="(max-width: 991px) 100vw, 80vw" alt="Proyecto en Bello" class="image-17"><img height="158" src="images/render-piscina-320.jpeg" loading="eager" width="320" alt="Proyecto en Bello" class="image-17 imgmov">
              <div class="titcarzonas"><img width="122" height="118" src="images/ico-piscina.jpg" loading="lazy" alt="Cerro Verde proyectos en bello" class="image-16">
                <p class="titugael">Piscina adultos y niños</p>
              </div>
            </div>
            <div class="text-ref">
              <div class="text-block-10">*Render del proyecto</div>
            </div>
          </div>
          <div class="slide-2 w-slide">
            <div class="text-ref">
              <div class="text-block-10">*Imagen de referencia</div>
            </div>
            <div class="caja-slider-foto"><img width="990" height="490" src="images/juegos.jpg" loading="lazy" srcset="images/juegos-p-500.jpeg 500w, images/juegos-p-800.jpeg 800w, images/juegos.jpg 990w" sizes="(max-width: 991px) 100vw, 80vw" alt="juegos Cerro Verde" class="image-17">
              <div class="titcarzonas"><img width="122" height="118" src="images/ico.jpg" loading="lazy" alt="Cerro Verde proyectos en bello" class="image-16">
                <p class="titugael">Juegos infantiles</p>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="text-ref">
              <div class="text-block-10">*Imagen de referencia</div>
            </div>
            <div class="caja-slider-foto"><img width="990" height="490" src="images/porteria.jpg" loading="lazy" srcset="images/porteria-p-800.jpeg 800w, images/porteria.jpg 990w" sizes="(max-width: 991px) 100vw, 80vw" alt="Cerro Verde" class="image-17">
              <div class="titcarzonas"><img width="122" height="118" src="images/ico-porteria.jpg" loading="lazy" alt="Cerro Verde proyectos en bello" class="image-16">
                <p class="titugael">Portería</p>
              </div>
            </div>
          </div>
          <div class="w-slide">
            <div class="text-ref">
              <div class="text-block-10">*Imagen de referencia</div>
            </div>
            <div class="caja-slider-foto"><img width="990" height="490" src="images/salon-social.jpg" loading="lazy" srcset="images/salon-social-p-500.jpeg 500w, images/salon-social-p-800.jpeg 800w, images/salon-social.jpg 990w" sizes="(max-width: 991px) 100vw, 80vw" alt="Salon social Cerro Verde" class="image-17">
              <div class="titcarzonas"><img width="122" height="118" src="images/ico-saolon-social.jpg" loading="lazy" alt="Cerro Verde proyectos en bello" class="image-16">
                <p class="titugael">Salón social</p>
              </div>
            </div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="icon-6 w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="icon-7 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-3 w-slider-nav w-round"></div>
      </div>
    </div>
    <div class="div-block-16">
      <p class="paragraph-2">* Las Zonas Comunes serán entregadas por etapas según programación de construcción y no se entregarán dotadas. Las imágenes utilizadas son representaciones digitales del diseño y junto con el apartamento modelo pueden variar en la construcción final.</p>
      <a href="#banner" class="btn">Cotiza tu apartamento</a>
    </div>
  </div>
  <div id="ubicacion" class="sala wf-section">
    <div class="botones">
      <p class="parraseo">Cerro Verde - Bello, Vivienda de interés social en Bello</p>
      <h4 class="tituloblanco bl">Contáctanos para más información</h4>
      <p class="sub-tit">Si tienes alguna duda o quieres más información, llámanos y estaremos felices de poder ayudarte.<br></p>
    </div>
    <div class="div-block-17">
      <div class="div-block">
        <div id="w-node-_09a4b803-51df-3303-1700-b7871fae744f-fcb89c53" class="div-block-23">
          <div class="w-embed w-iframe">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15861.634512054961!2d-75.5493922008911!3d6.341089591869286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442f928781e417%3A0xf2aa09343c93e865!2sCerro%20Verde%20Sala%20de%20Ventas!5e0!3m2!1ses!2sco!4v1644440503992!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
        <div id="w-node-_140e905c-0634-8bd7-00c0-e291c21ae8cf-fcb89c53" class="div-block-14">
          <p class="titulofooter primero">Teléfonos</p>
          <div class="cajasfooter"><img src="images/whapp.svg" loading="lazy" width="35" height="25" alt="ico whatsapp " class="image-7">
            <p class="textfooter">(+57) 318 734 6522 - 318 535 8693<br></p>
          </div>
          <div class="linea"></div>
          <p class="titulofooter">Encuéntranos</p>
          <div class="cajasfooter"><img src="images/icon-maps.svg" loading="lazy" width="35" height="24" alt="ico map" class="image-7">
            <p class="textfooter">Av. 31 # 66-29 Bello, Terranova<br></p>
          </div>
          <p class="textfooter"><span class="text-span-3">Antioquia</span></p>
          <div class="linea"></div>
          <p class="titulofooter">Horarios de sala de ventas</p>
          <p class="textfooter"><span class="text-span-10">Lunes a domingo</span> 9:00 a.m. - 5:00 p.m.</p>
          <div class="div-block-2">
            <a href="https://www.waze.com/es/live-map/directions/colombia/antioquia/bello/av.-31-66-29?utm_source=waze_website&amp;utm_campaign=waze_website&amp;utm_medium=website_menu&amp;to=place.ChIJi-9TiI0vRI4RoM4oizGLR0E" target="_blank" class="w-inline-block"><img src="images/waze.png" loading="lazy" width="150" height="37" alt="Vivienda de interés social en Bello cerro verde" class="image-2"></a>
            <a href="https://goo.gl/maps/vgRm7nAoQbUz96vS6" target="_blank" class="w-inline-block"><img src="images/maps.png" loading="lazy" width="150" height="37" alt="Proyecto de interés interés Colsubsidio
" class="image-8"></a>
          </div>
          <div class="textoblanco">Encuéntranos como: &quot;Cerro Verde Apartamentos&quot;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer wf-section">
    <div class="caja-logos"><img src="images/derro-claro.png" loading="lazy" width="122" height="75" alt="" class="image-13"><img src="images/linea.png" loading="lazy" width="2" height="78" alt="Cerro Verde Proyecto de interés interés Colsubsidio" class="image-12"><img src="images/alianza.png" loading="lazy" width="122" height="40" alt="" class="image-14"></div>
    <div class="text-block">© Conversion all Rights Reserved 2021</div>
    <div class="div-block-22">
      <a href="https://www.facebook.com/constructoramonserrate" target="_blank" class="w-inline-block"><img src="images/facebook.png" loading="lazy" width="36" height="40" alt="" class="imgredes"></a>
      <a href="http://instagram.com/constructoramonserrate/" target="_blank" class="w-inline-block"><img src="images/instagram.png" loading="lazy" width="36" height="40" alt="" class="imgredes"></a>
    </div>
  </div>
  <%- include('scripts-footer'); %>
</body>
</html>