<meta charset="utf-8">

<meta content="width=device-width, initial-scale=1" name="viewport">

<title>Cerro Verde Apartamentos en Bello</title>

<meta name="description" content="Cerro Verde apartamentos, proyectos de interés social en bello | Desde $213.000.000* | Av. 31 # 66-29 Bello" />

<link rel="canonical" href="https://cerroverdeapartamentos.com/" />

<meta property="og:locale" content="es_ES" />

<meta property="og:type" content="website" />

<meta property="og:title" content="Cerro Verde Apartamentos en Bello" />

<meta property="og:description" content="Cerro Verde apartamentos, proyectos de interés social en bello | Desde $213.000.000* | Av. 31 # 66-29 Bello" />

<meta property="og:url" content="https://cerroverdeapartamentos.com/" />

<meta property="og:site_name" content="Cerro Verde Apartamentos en Bello" />

<meta property="article:modified_time" content="2021-08-26T21:48:24+00:00" />

<meta property="article:publisher" content="https://www.facebook.com/constructoramonserrate" />

<meta property="og:image" content="hhttps://cerroverdeapartamentos.com/cover.jpg" />

<meta name="twitter:card" content="summary_large_image" />

<meta name="facebook-domain-verification" content="klpwoql1h8dw3sp31ergcrhf1pvc75" />